In [27]:
## Run the following code for data prep
import pandas as pd 

df=pd.read_csv('movie_ratings(2).csv' )

first_genre=df['genres'].str.split('|', expand=True)[0]
df['main_genre']=first_genre

df['title']=df['title'].str.strip()
df['year']=df['title'].str[-5:-1]
df=df[df['year'].str.isnumeric()]
df['year']=pd.to_numeric(df['year'])

What are the yearly rating averages?

In [28]:

average_yearly_rating =df[['year','rating']].groupby('year').mean()
average_yearly_rating

        rating
year
1891  3.000000
1893  3.375000
1894  3.071429
1895  3.125000
1896  3.183036
...        ...
2011  3.162567
2012  3.104176
2013  3.145056
2014  3.122809
2015  2.813146

[118 rows x 1 columns]

Which years have the top 3 rating averages. Are you surprised to see these years? What can potentially explain the fact that these years have the highest averages ?

In [22]:
average_yearly_rating.head()

        rating
year
1891  3.000000
1893  3.375000
1894  3.071429
1895  3.125000
1896  3.183036

Sort years based the number of films produced. Is there a pattern? What can we say about the movie production rate over the years.

In [29]:
df

,movieId,title,genres,rating,main_genre,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.921240,Adventure,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.211977,Adventure,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,3.151040,Comedy,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.861393,Comedy,1995
4,5,Father of the Bride Part II (1995),Comedy,3.064592,Comedy,1995
...,...,...,...,...,...,...
26739,131254,Kein Bund für's Leben (2007),Comedy,4.000000,Comedy,2007
26740,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,4.000000,Comedy,2002
26741,131258,The Pirates (2014),Adventure,2.500000,Adventure,2014
26742,131260,Rentun Ruusu (2001),(no genres listed),3.000000,(no genres listed),2001
26743,131262,Innocence (2014),Adventure|Fantasy|Horror,4.000000,Adventure,2014

Which genres are most liked ?

Which genres are most popular (in terms of production) ?

**Open Ended:** You are considering to invest in a movie. Having this dataset, try to narrow your options to a single genre. That's find the find the genre of movies that are more "investible". 

You can consider a few of parameters: 
 - average rating: it can be considered as the likelihood that the movie will be better received considering some genres have better ratings than others.  
 - number of movies: You can also consider the competition. 
 - changes over the years: Another aspect to explore is whether these genres are getting better or worse over the (recent) years. 
 - rating volatility (standard deviation): Also think about whether you are a risk taker or risk averse. Do you want to invest in a higly volitale genre (in terms of its ratings) or do you prefer to invest in a stable genre.   
 
While there are no wrong answers here, please support your decision with appropriate data analysis using pandas.