## Hello World

In [1]:
print('Hello world')

Hello world

In [2]:
print('Yegin Genc')

Yegin Genc

## Python Anatomy

In [3]:
## This program prints the version of the python that was installed. 

import platform

platform.python_version()

myversion=platform.python_version()
print(f'This python is version {myversion}')

This python is version 3.7.6

## Statements and Expressions

In [25]:
a=2   # assignment expression (also statment)
b= 10

In [26]:
a+b   # mulitplication expression ( also statement)

12

In [27]:
(a,b)

(2, 10)

In [30]:
c= a

In [33]:
import os  #statement but not expression

## White Space

In [4]:
def count_upto_five():  ## Definition of a function
    print(1)            ## inside the function
    print(2)            ##   "    "    "
    print(3)            ##   "    "    "
    print(4)            ##   "    "    "
    print(5)            ##   "    "    "

    
print(6)                ## outside of the function

6

In [43]:
count_upto_five()

1
2
3
4
5

In [48]:
for a_letter in 'yegin':
    print(a_letter)     ## inside the loop
print('All DONE!')      ## outside of the loop

y
e
g
i
n
All DONE!

## Blocks and Scope

In [53]:
x=10
y=11

In [57]:
if x> y : 
    print('x>y')
    print('x is greater ')
else: 
    print('y>x')
    print('y is greater')

y>x
y is greater

In [59]:
if x> y : 
    print('x>y')
  print('x is greater ')
else: 
    print('y>x')
    print('y is greater')

IndentationError: unindent does not match any outer indentation level (<ipython-input-59-1ecb5bdc1171>, line 3)

## Conditionals

In [60]:
if x> y :  ## column indicates end of condition
    print('x>y')
    print('x is greater ')
elif x== y: ## will check only if the previous 
            ## condition is false
    print('x equals to y ')
else:       
    print('y>x')
    print('y is greater')

y>x
y is greater

## Loops

#### While

In [62]:
students=['anne', 'bob', 'chris','dianna']
n=0
while (n<4):
    print(students[n])
    n+=1

anne
bob
chris
dianna

In [63]:
a, b = 0, 1
while (b< 1000):
    print(b,end=' ')
    a,b=b, a+b

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

#### For

In [66]:
for a_student in students: 
    print(a_student)

anne
bob
chris
dianna

## Functions

In [67]:
def print_name():    ## no input 
    print('yegin ')  ## doesn't return an output
                     ## just prints

In [69]:
print_name()

yegin

In [70]:
def get_fullname(first_name, last_name):  ## inputs first name 
                                          ## and last name
    full_name= first_name + " "+ last_name
    return full_name                      ## returns full name

In [71]:
get_fullname('yegin', 'genc')

'yegin genc'

In [73]:
myfullname=get_fullname('yegin', 'genc')
print(myfullname)

yegin genc

## Variable Types

#### String

In [76]:
name='yegin'
print(name)

yegin

In [80]:
first_name='yegin'.upper()
print(first_name)

YEGIN

In [81]:
last_name='genc'.title()
print(last_name)

Genc

In [83]:
'My name is {} {}'.format(first_name, last_name)

'My name is YEGIN Genc'

In [85]:
'My name is '+ first_name + ' '+ last_name

'My name is YEGIN Genc'

#### Numeric Types: Integer and Float

In [108]:
y=2.0
print(y, type(y))
x=10 
print( x,    type(x))
print( x+1,  type(x+1))
print( x/2, type(x/2))

print(x//3, type(x//3))
print(x%3, type(x%3))

2.0 <class 'float'>
10 <class 'int'>
11 <class 'int'>
5.0 <class 'float'>
3 <class 'int'>
1 <class 'int'>

In [ ]:
### Floats are not 100% accurate

In [111]:
from decimal import *

In [120]:
.1 + .1 +.1- .3

5.551115123125783e-17

In [117]:
i=Decimal('.1')
y=Decimal('.3')

i+i+i-y

Decimal('0.0')

#### Boolean Type

In [139]:
x= False
print(x)

False

In [137]:
y=7>5
print(y, type(y))

True <class 'bool'>

In [141]:
if x: 
    print('statement is true')
else:
    print('statement is false')

statement is false

In [146]:
z=None
print(z, type(z))

if z:
    print('statement is true')
else: 
    print('statement is false')

None <class 'NoneType'>
statement is false

In [147]:
myname='yegin'
if myname:
    print('statement is true')
else: 
    print('statement is false')

statement is true

#### Sequence Type

*List*

In [154]:
a=[1,2,7, 10 ]   # list
print(a)
print(a[0] , a[2])

[1, 2, 7, 10]
1 7

In [ ]:
a[0]=-1
print(a)

*Tuple*

In [158]:
t= (10,20 ,30)
print(t[0])         ## lists are mutable

10

In [159]:
t[0]=5  ## tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [160]:
prices={'orange':2,'apple':1.5, 'banana':.5 }
prices['orange']

2

## Conditions

In [162]:
x=5
y=4
if x>y:
    print ('x>y')
elif x==y:
    print ('x==y')
else:
    print (' x<y')

x>y

In [166]:
print( x !=y)
print( x <=y)
print( x >=y)

True
False
True

## Operators

#### Arithmetic Operators

In [ ]:
#  +  , - , / , *

In [185]:
y=19 + 2
print(y)

21

In [189]:
y =19
y +=2  ## short for y= y + 2
print(y)

21

In [175]:
14//3 #integer division 

print( 14//2 , 14/2)

14%3   ## Remainder

7 7.0

2

In [177]:
2**3  ## Exponent

8

In [180]:
x=7
print( -x)

-7

#### Boolean Operators

In [ ]:
x= True
y= False

In [130]:
print("1", x and y)
print("2", x or y)
print("3",not x)

1 False
2 True
3 False

In [123]:
if x and y:
    print('the statement is true')
else:
    print('the statement is false')

the statement is false

In [124]:
if x or y:
    print('the statement is true')
else:
    print('the statement is false')

the statement is true

#### Operator precedence

In [190]:
y = 10 + 3*2

In [191]:
print(y)

16

In [192]:
y=(10+3)*2
print(y)

26